/* main rules  */

body{
    background-color: #f4f4f4;
    font-size: 16px;
    margin-bottom:20px ;
}

a:hover{
    text-decoration: none;
}
.asterisk{
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    line-height: 1.42857143;
    box-sizing: border-box;
    font-size: 30px;
    position: absolute;
    right: 30px;
    top: 8px;
    color: #ce2a2a;
    z-index: 1;
}

/* start login form */

.login{
    width: 300px;
    margin: 100px auto;
}

.login input{
    margin-bottom: 10px;
}

.login .form-control{
    background-color: #e5e5e5;
}
.login .btn{
    background-color: #008dde;
}
.login h4{
    color: #888;
}

/* start bootstrap edit */

.navbar{
    border-radius: 0;
    margin-bottom: 0;
}
.navbar-brand{
    font-size: 1em;
}

/* start dashboard styles */

.home-stats .stat{
    background-color: #EEE;
    border: 1px solid #ccc;
    padding: 20px;
    font-size: 15px;
    color: #eee;
    border-radius: 20px;
    box-shadow: 11px 11px 15px rgba(0,0,0,.3);
}
.home-stats a:hover{
    color: #eee;
}

.home-stats .stat a:hover{
    text-decoration: none;
}
.home-stats .stat span{
    display: block;
    font-size: 40px;
}
.latest{
    margin-top: 30px;
}
.latest .icon{
    background-color: #969696;
    color: rgb(255 255 255);
    padding: 8px;
    border-radius: 34%;
}
.home-stats .st-members{
    background-color: #3498db;
}
.home-stats .st-pending{
    background-color: #c0392b;
}
.home-stats .st-items{
    background-color: #d35400;
}
.home-stats .st-comments{
    background-color: #8e44ad;
}
.latest-users .alert{
    padding: 5px;
    margin-bottom: 5px;
    border: inset 2px #2860E7;
    border-radius: 15px;
    box-sizing: border-box;
}
.latest-users .btn{
    border-radius: 15px;
}
/* end dashboard styles */

/* start members styles */
h1{
    font-size: 50px;
    margin: 40px 0;
    font-weight: bold;
    color: #666;
}
.form-control{
    position: relative;
}
.show-pass{
    position: absolute;
    top: 12px;
    right: 48px;
    font-size: 17px;
}
.main-table td{
    background-color: #fff;
    vertical-align: middle !important;
}
.main-table tr:first-child td{
    background-color: rgba(51,51,51,.9);
    color: #fff;
    text-align: center;
}
.main-table .btn{
    padding: 3px 10px;
}
/* end members style */

/* start of categories styles */
.categories .cat h3{
    margin: 0;
    cursor: pointer;
}
.categories{
    overflow: hidden;
}
 .categories hr{
    margin: 0;
}
.categories .cat .full-view p{
    margin: 10px 0;
}
.categories .cat:last-of-type ~ hr {
    display: none;
}
.categories .cat .btn{
    margin: 0 5px;
}
.categories .panel{
    position: relative;
}
.categories .panel-heading .fa{
    position: absolute;
    right: 3px;
    top: 12px;
    display: none;
}
.categories .panel-heading .fa.active{
    display: block;
}
/* end of categories styles */
